<!-- Search Bar -->
<div class="row">
  <div class="col-md-12">
    <form action='/archive/search'>
      <div class="input-group">
        <input name="search" class="form-control border-secondary" type="search" placeholder="Search">
        <div class='input-group-append'>
          <button class="btn btn-outline-secondary" type='submit' style="z-index:10;"><i class="fa fa-music"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
