<html>

<% include partials/navbar.ejs %>

  <body>

    <p style="margin-bottom:10%;"> </p>

    <div class="container">
      <div class="row">
        <div class='col-md-7 offset-md-4'>
          <div class=" p-3 bg-white rounded">
            <!-- User Info -->
            <form id='profile' method='POST'>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="email">Email</span>
                </div>
                            </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="permissions">Permissions</span>
                </div>
              </div>
            </form>

            <div class='row'>

              <!-- Edit button -->
              <div class='col-md-3'>
                <div class="btn-toolbar">
                  <div class='btn-group'>
                    <button  form='profile' id='editBtn' type="button" class="btn btn-large btn-success ">Edit</button>
                    <button type="submit" style="visibility:hidden" id='cancel' class="btn btn-large btn-danger ">Cancel</button>
                  </div>
                </div>
              </div>

              <!-- Delete Account Button -->
              <div class='col-md-4'>
                <form action=''>
                  <button type='submit' class='btn btn-small btn-danger' data-toggle="confirmation"> Delete Account </button>
                </form>
              </div>

              <!-- Request Admin Permission button -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type='submit' class='btn btn-small btn-danger' data-toggle="confirmation"> Test </button>

    <div class="container">
      <button class="btn btn-primary" data-toggle="confirmation">Confirmation</button>
    </div>
    <% include partials/message.ejs %>
    <% include partials/head.ejs %>

    <script>
      $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        container: 'body'
      });
    </script>

  </body>
</html>
