<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>

<body>
  <% include partials/navbar.ejs %>


<div style="text-align:center;">
  <div id="banner">
    <div id="cloud-scroll">
      <h1 id="header1" style="line-height:400px;">
        SMUSH
      </h1>
    </div>

  </div>
  <br><br><br>
  <div style="text-align:center;">
    <h2>
      All it takes is 1 song
    </h2>
    <h2>
      To bring back 1000 memories
    </h2>
    <h4>
      The development team at SMUSH wishes to make this a reality for you
    </h4>
  </div>

</html>
