<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>

<body>
  <% include partials/navbar.ejs %>
  <style>
  :root {
  --theme-background: #FFFFFF;
  }
  </style>

<div style="text-align:center;">
  <div id="banner">
    <div id="cloud-scroll">
      <img alt="logo" src="logo.png" height="250px" width="auto">
      <h4>
        All it takes is 1 song
      </h4>
      <h4>
        To bring back 1000 memories
      </h4>
      <h4>
        The development team at SMUSH wishes to make this a reality for you.
      </h4>
    </div>

  </div>
  <div id="cloud-scroll">
  </div>
</div>
  <br><br><br>


</html>
