<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>
<link rel='stylesheet' href='bootstrap-social.css'>
</head>

<body >
  <% include partials/navbar.ejs %>


<!-- Add font awesome icons -->


  <p style="margin-bottom:10%;"> </p>

  <div class="container">
    <div class="row">
      <div class='col-md-5 offset-md-4'>
        <div class="shadow p-3 mb-5 bg-white rounded">


          <!-- Title -->
          <h3> Advanced Search </h3>


          <!-- Login with username and password -->
          <div class='row' style="margin-bottom:3px;">
            <div class='col-md-12'>
                <form id="select" action='/archive/select'>
                  <input type='text' class="form-control" name='artistName' placeholder="Artist"><br>
                  <input type='text' class="form-control" name='trackName' placeholder="Title"><br>
                  <input type='text' class="form-control" name='key' placeholder="Key"><br>
                  <input type='text' class="form-control" name='tempo' placeholder="Tempo"><br>
                </form>
                </div>
          </div>

          <div class="row">

            <!-- Submit button -->
            <div class="col-md-1 pull-left">
              <button type="submit" class="btn btn-large btn-danger pull-right" form='select'>Search Archive</button>
            </div>
          </div>

          <% include partials/message.ejs %>

        </div>
      </div>
    </div>
  </div>
</body>
