<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>

</head>

<body >
  <% include partials/navbar.ejs %>

  <h1> Contact! </h1>
  <h3> Send us an email </h3>
  <br><br>
  <form action='/contact/sendEmail' method='POST'>
    name <input type='text' name='name'><br>
    email <input type='text' name='email'><br>
    message <input type='text' name='message'><br>
    <input type='submit'>
  </form>
</body>
