<!DOCTYPE html>
<html>

<head>
  <title> Contact Smush Template </title>
</head>

<body>

  <h3> name: <%= user.name %> </h3>
  <h3> email: <%= user.email %> </h3>
  <h3> message: <%= user.message%> </h3>

<body>

</html>
