
<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <br><br><br><br>

  <% include partials/navbar.ejs %>

  <div style="margin:auto; width = 500px;">
    <div style="float: right;">
      <h3>Something went wrong. This is your fault and your fault alone.</h3>
    </div>
    <div style="float: left;">
      <img id="error_image" style = "text-align:center;" src="https://bigpicturethings.files.wordpress.com/2011/06/dog-against-window.png" alt="error picture" width="20%" height="20%">
    </div>
  </div>


  <% include partials/message.ejs %>

</body>

</html>
