
<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>
  <title>SMUSH - Oops! </title>
</head>

<body>
  <br><br><br><br>
  <% include partials/navbar.ejs %>
  <div class='container'>


    <div style="width:500px; margin:auto;">
    </div>
    <h3>Oops! Something went wrong.</h3>

      <br>
      <% var num = Math.floor(Math.random()*3) %>
      <% if (num === 0 ){%>
        <img title="One very smushed doggie."  class="center" src="https://bigpicturethings.files.wordpress.com/2011/06/dog-against-window.png" alt="error picture" style="max-height:300px; width: auto;">
      <% } %>
      <% if (num === 1 ) {%>
        <img title="Smush Parker during his time with the Lakers."  class="center" src="https://media.nbcphiladelphia.com/images/652*368/smush.jpg" alt="error picture" style="max-height:300px; width: auto;">
      <% } %>
      <% if (num === 2) { %>
        <img title="A tragically smushed PB&J."  class="center" src="http://azwanderings.com/wp-content/uploads/PBJ1.jpg" alt="error picture" style="max-height:300px; width: auto;">
      <% } %>

      <br>
      <h3>Head back to the <a href="/">homepage.</a></h3>
      <% include partials/search-bar.ejs %>
      <br>
      </div>
    <script>
      $('.fa').hover(
        (e) => { $(e.target).addClass('fa-spin'); },
        (e) => { $(e.target).removeClass('fa-spin');}
      )
    </script>
</body>

</html>
