<!DOCTYPE html>
<html>

<% include partials/head.ejs %>


  <body>
        <% include partials/navbar.ejs %>


  <div style="text-align:center;">
    <h1>
      SMUSH
    </h1>
    <p>
     lore idps sdfkgj sdfubm vicjg sdlfk gjdkslsdj description
    </p>
    <form action=#TODO method='POST' enctype='multipart/form-data'>
      <!-- Simple Textfield -->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Search . . .</label>
      </div>
      <input type='submit'>
      <!-- Accent-colored raised button with ripple -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Button
      </button>
    </form>
  </div>


  </body>
</html>
