<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>

<body>

  <% include partials/navbar.ejs %>

  <!-- Cloud Animation and Page Title -->
  <div style="text-align:center;">
    <div id="banner">
      <div id="cloud-scroll">
        <h1 id="header1" style="line-height:400px;">
          SMUSH
        </h1>
      </div>
    </div>

    <div class="container">

      <!-- Search Bar -->
      <h5>Search Music...</h5>
      <div class="row">
        <div class="col-md-12">
          <form action='/archive/search'>
            <div class="input-group">
              <input name="search" class="form-control border-secondary " type="search" placeholder="search">
              <button class="btn btn-outline-secondary" type='submit'><i class="fa fa-search"></i></button>
            </div>
          </form><br><br>
            </div>
        </div>
      </div>
    </div>

    <!-- Advanced Search Options -->
    <div class='row'>
      <div class='col-md-4 offset-md-5'>
        <button type="button" id='advsearch_button' class="btn btn_material_style">Advanced Search Options</button>
      </div>
      <div class='col-md-6 offset-md-3'>
        <% include partials/advanced-search.ejs %>
      </div>
    </div>

    <% include partials/message.ejs %>

</body>

</html>
