<!DOCTYPE html>
<html>

<% include partials/head.ejs %>


  <body>

    <navbar>
        <% include partials/navbar.ejs %>
    </navbar>


  <div style="text-align:center;">
    <h1>
      SMUSH
    </h1>
    <p>
     lore idps sdfkgj sdfubm vicjg sdlfk gjdkslsdj description
    </p>
    <h4> Search </h4>
    <form action=#TODO method='POST' enctype='multipart/form-data'>
      <input type='text' name='searchbar'><br>
      <input type='submit'>
    </form>
  </div>


  </body>
</html>
