<!DOCTYPE html>
<html>

<% include partials/head.ejs %>


  <body>
        <% include partials/navbar.ejs %>


  <div style="text-align:center;">
    <h1>
      SMUSH
    </h1>
    <p>
     sheet music upload service helper
    </p>
    <form action=#TODO method='POST' enctype='multipart/form-data'>

      <div class="mdc-text-field mdc-text-field--fullwidth">
        <input class="mdc-text-field__input" type="text" placeholder="Search here..." aria-label="Full-Width Text Field">
      </div>
      <button class="mdc-button--raised" type="submit">
        Search
      </button>

    </form>
  </div>


  </body>
</html>
