<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>

  <div style="text-align:center;">
    <h1>
      SMUSH
    </h1>
    <p>
     lore idps sdfkgj sdfubm vicjg sdlfk gjdkslsdj description
    </p>
    <h4> Search </h4>
    <form action=#TODO method='POST' enctype='multipart/form-data'>
      <input type='text' name='searchbar'><br>
      <input type='submit'>
    </form>
  </div>


  </body>
</html>
