<html>
<head>
  <% include partials/head.ejs %>
</head>

<% include partials/navbar.ejs %>

<body>

  <!-- Add icon library -->

  <link rel='stylesheet' href='bootstrap-social.css'>
<!-- Add font awesome icons -->


  <p style="margin-bottom:10%;"> </p>

  <div class="container">
    <div class="row">
      <div class='col-md-5 offset-md-4'>
        <div class="shadow p-3 mb-5 bg-white rounded">


          <!-- Title -->
          <h3> Login to Smush! </h3>

          <!-- Login with facebook -->
          <div class="row" style="margin-bottom:3px;">
            <div class="col-md-12">
              <a href="/user/facebook-login" class="btn btn-block" style='background: #3B5998; color: white;'> <i class='fab fa-facebook'></i> Login with <b>Facebook</b> </a>
            </div>
          </div>

          <!-- Login with twitter -->
          <div class="row" style="margin-bottom:3px;">
            <div class="col-md-12">
              <a href="/user/twitter-login" class="btn btn-block" style='color:#fff; background-color:#55acee;'> <span class='fab fa-twitter'></span> Login with <b>Twitter</b> </a>
            </div>
          </div>

          <!-- Login with username and password -->
          <div class='row' style="margin-bottom:3px;">
            <div class='col-md-12'>
              <form action='/user/authenticate' method='POST' id='login'>
                <input type="text" class="form-control" placeholder="Username"  name='username' autofocus required>
                <input type="password" class="form-control" placeholder="Password" name='password' required>
              </form>
            </div>
          </div>

          <!-- Login page footer -->
          <div class="row">

            <!-- Sign up and forgot password links -->
            <div class="col-md-8">
              <div class="left-section">
                <a href="/user/reset-password">Forgot your password?</a><br>
                <a href="/user/signup">Sign up now</a>
              </div>
            </div>

            <!-- Login button -->
            <div class="col-md-1 pull-left">
              <button type="submit" class="btn btn-large btn-danger pull-right" form='login' >Login</button>
            </div>
          </div>

          <% include partials/message.ejs %>

        </div>
      </div>
    </div>
  </div>
</body>
