<html>
<head>
</head>
<body>

  <h1> Log On In! </h1>
  <form action='/user/authenticate' method='POST'>
    username <input type='text' name='username'>
    password <input type='password' name='password'>
    <input type='submit'>
  </form>
</body>
