<html>

<% include partials/head.ejs %>
<body>
  <% include partials/navbar.ejs %>


  <div style="text-align:center;">

   <!-- musicXML
   tempo
   image  (base64 encoded) -->

   <div class="container text-center">
     <div class="row">
       <div class="col-sm-3 well">

       </div>

       <div class="col-sm-7">

           <div class="row">
             <div class="col-sm-12">
               <div class="panel panel-default text-left">
                 <div class="panel-body">
                   <div style="text-align:center;">
                  
                   </div>
                 </div>
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-sm-3">
               <div class="well">
                Track Name
               </div>
             </div>
             <div class="col-sm-9">
               <div class="well">

                   <%=data.trackName %>

                            </div>
             </div>
           </div>

           <div class="row">
             <div class="col-sm-3">
               <div class="well">
                 Composer
              </div>
             </div>
             <div class="col-sm-9">
               <div class="well">
                 <%=data.artistName %>
                </div>
             </div>
           </div>

           <div class="row">
             <div class="col-sm-3">
               <div class="well">
                Key
               </div>
             </div>
             <div class="col-sm-9">
               <div class="well">
                 <%=data.key %>
               </div>
             </div>
           </div>

       </div>

       <div class="col-sm-2 well">
         <div class="thumbnail">
           <p> PUT IMAGE HERE LATER MAYBE??? or move it cuz asssymetry </p>
         </div>
       </div>


     </div>
   </div>
</div>
</body>

</html>
