
<html>

<% include partials/navbar.ejs %>

<head>
  <% include partials/head.ejs %>
</head>

<body>

  <p style="margin-bottom:10%;"> </p>

  <div class="container">
    <div class="row">


      <div class='col-md-5 offset-md-4'>

        <div class="shadow p-3 mb-5 bg-white rounded">

          <!-- Title -->
          <h3> <%= user.name %> </h3>

          <!-- User Info -->
          <form id='profile' method='POST'>
            <div class="input-group mb-4">
              <!-- Form -->
              <input type='hidden' name='_id' value='<%= user._id %>'>
              <div class="input-group-prepend">
                <span class="input-group-text" id="email">Email</span>
              </div>
              <input type="email" class="form-control editable" id='email' name='email' placeholder="<%= user.email %>" aria-describedby="email" readonly>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="permissions">Permissions</span>
              </div>
              <input type='text' class='form-control' placeholder='<%= user.permissions%>' aria-describedby='permissions' readonly >
            </div>
          </form>



            <!-- Edit button -->
            <div class="btn-toolbar">
              <div class='btn-group'>
                <button  form='profile' id='editBtn' type="button" class="btn btn-large btn-success pull-left">Edit</button>
                <button type="submit" style="visibility:hidden" id='cancel' class="btn btn-large btn-danger pull-right">Cancel</button>
              </div>
            </div>
            <!-- Request Admin Permission button -->
            <br>

            <% if (user.permissions !== 'Admin') { %>
            <form>
              <button type="submit" class="btn btn-large btn-secondary pull-right" formaction='/contact/request-admin'>Request Admin Permissions</button>
            </form>
            <% } %>




            <script type='text/javascript'>
              $('#editBtn').on('click', (event) => {
                if ($('#editBtn').text() === 'Edit') {
                  $('#profile').attr('action', '/user/update')
                  $('.editable').attr('readonly', false)
                  $('#editBtn').text('Save')
                  $('#editBtn').attr('class', 'btn btn-large btn-success pull-left')
                  $('#cancel').attr('style', 'visibility:visible')
                } else {
                  $('#profile').submit()
                }
              })

              $('#cancel').on('click', (event) => {
                $('.editable').attr('readonly', true)
              })
            </script>





          <% include partials/message.ejs %>

        </div>
      </div>
    </div>
  </div>

</body>
