<html>

<% include partials/navbar.ejs %>

<head>
  <% include partials/head.ejs %>
</head>

<body>

  <p style="margin-bottom:10%;"> </p>

  <div class="container">
    <div class="row">


      <div class='col-md-5 offset-md-4'>

        <div class="shadow p-3 mb-5 bg-white rounded">

          <!-- Title -->
          <h3> Reset Password </h3>

          <form action='user/update' method='POST'>
            <input type='text' class='form-control' placeholder="Old Password" name='passwordO' autofocus required>
            <input type='text' class='form-control' placeholder="Confirm Old Password" required>
            <input type='text' class='form-control' placeholder="New Password" name='passwordN' required>
            <input type='text' class='form-control' placeholder="Confirm New Password"  required>
          </form>

        </div>
      </div>
    </div>
  </div>

</body>
