

<html>

<head>
<% include partials/head.ejs %>

</head>

<body>
<% include partials/navbar.ejs %>

<div class="container">


    <h4> Search Archive </h4>
    <form action='/archive/select'>
      artistName <input type='text' name='artistName'><br>
      trackName <input type='text' name='trackName'><br>
      key <input type='text' name='key'><br>
      tempo <input type='text' name='tempo'><br>
      <input type='submit'>
    </form>
    <br>
  <hgroup class="mb20">
		<h1>Search Results</h1>
		<h2 class="lead"><strong class="text-danger"><%=data.length%></strong> results were found for your search </h2>
	</hgroup>
  <br>
  <div class="result">
  <% for (result in data) { %>
        <table class="table table-filter fixed">
          <col width="33%"/>
          <col width="33%"/>
            <td>
              Artist: <%=data[result].artistName %>
            </td>
            <td>
              <a href=/<%= data[result].id%> </a> Track: <%=data[result].trackName %>
            </td>
            <td>
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" align="right">
            </td>

        </table>


  <% } %>
  </div>
</div>
</body>
</html>
