

<html>

<% include partials/head.ejs %>
  <body>
        <% include partials/navbar.ejs %>


<div class="container">


    <h4> Search Archive </h4>
    <form action='/archive/select'>
      artistName <input type='text' name='artistName'><br>
      trackName <input type='text' name='trackName'><br>
      key <input type='text' name='key'><br>
      tempo <input type='text' name='tempo'><br>
      <input type='submit'>
    </form>
    <br>

    <hgroup class="mb20">
		<h1>Search Results</h1>
		<h2 class="lead"><strong class="text-danger">songs.find.(searchterm).count()</strong> results were found for the search for <strong class="text-danger">this.responseText.searchTerm</strong></h2>
	</hgroup>

  <% for (result in data) { %>
  <table>
  <% for (obj in data[result]) { %>
    <tr>
      <td> <%= data[result][obj] %></td>
    </tr>
    <% } %>
  </table>
  <% } %>

</div>
</html>
