

<html>
<% include partials/head.ejs %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body>
<% include partials/navbar.ejs %>


<div class="container">


    <h4> Search Archive </h4>
    <form action='/archive/select'>
      artistName <input type='text' name='artistName'><br>
      trackName <input type='text' name='trackName'><br>
      key <input type='text' name='key'><br>
      tempo <input type='text' name='tempo'><br>
      <input type='submit'>
    </form>
    <br>
  <hgroup class="mb20">
		<h1>Search Results</h1>
		<h2 class="lead"><strong class="text-danger"><%=data.length%></strong> results were found for your search </h2>
	</hgroup>

  <% for (result in data) { %>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-container">
            <table class="table table-filter">
              <tbody>
                <tr>
                  <td>
                    Artist: <%=data[result].artistName %>
                  </td>
                  <td>
                    <a href=/<%= data[result].id%> </a> Track: <%=data[result].trackName %>
                  </td>
                  <td>
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" align="right">
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% } %>

</div>
</html>
