<html>
<head>
</head>
  <% include partials/navbar.ejs %>

<body>
  <script src="opensheetmusicdisplay.min.js"></script> <!-- you need to provide the .js file, see README.md-->
  <div id="osmdCanvas"/>

  <!-- This example will fail due to CORS restrictions, see README -->
  <!-- You cannot just load local files in Javascript without user interaction. -->
  <script>
    var openSheetMusicDisplay = new opensheetmusicdisplay.OpenSheetMusicDisplay("osmdCanvas");
    openSheetMusicDisplay.load("data:audio/ogg;base64,<%=data.midi%>");
    openSheetMusicDisplay.render();
  </script>

</body>
</html>
