<html>
<head>
  <% include partials/head.ejs %>
  <title>SMUSH - <%= data.trackName %> Image</title>
</head>
  <% include partials/navbar.ejs %>

<body>
  <br><br><br><br>
    <img class ="center" src='data:image/png;base64, <%= data.image %>' >

</body>
</html>
