<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>

</head>

<body >
  <% include partials/navbar.ejs %>

  <link rel='stylesheet' href='bootstrap-social.css'>
<!-- Add font awesome icons -->


  <p style="margin-bottom:10%;"> </p>

  <div class="container">
    <div class="row">
      <div class='col-md-5 offset-md-4'>
        <div class="shadow p-3 mb-5 bg-white rounded">


          <!-- Title -->
          <h3> Upload Score </h3>


          <!-- Login with username and password -->
          <div class='row' style="margin-bottom:3px;">
            <div class='col-md-12'>
              <form action='/contact/sendEmail' method='POST' id="email">
                <input type='text' class="form-control" placeholder="Artist name" name='artistName'><br>
                <input type='text' class="form-control" placeholder="Track Name" name='trackName' ><br>
                <input type='text' class="form-control" placeholder="Key" name='key'><br>
                <input type='text' class="form-control" placeholder="Tempo" name='tempo'><br>
                <input type='file' class="form-control" placeholder="Image" name='image'><br>
                <input type='file' class="form-control" placeholder="Midi or MusicXML" name='midi'>
                <input type='submit' class='form-control' value='Upload'>
            </div>
          </div>


          <% include partials/message.ejs %>

        </div>
      </div>
    </div>
  </div>
</body>
