<!DOCTYPE html>
<html>

<head>
  <title> Reset Password Template </title>
</head>

<body>
  <h1> Email from SMUSH! </h1>
  <br>
  <h3> Please click the link below to reset your SMUSH password. </h3>
  <a href='<%= url %><%= user._id %>'> Click Me! </a>
<body>

</html>
