body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--theme-background) !important;
}

:root {
  --theme-primary: #03a9f4;
  --theme-secondary: #673ab7;
  --theme-background: #C5CAE9;
}


h1,
h2 {
  text-align: center;
}
